.post-content p:not(p:last-child),
.post-content ul {
  margin-bottom: var(--marginXLarge);
}

.post-content img {
  width: auto;
}
.post-content a {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.post-content li {
  margin-left: 15px;
  margin-bottom: var(--marginSmall);
}

.post-content p,
.post-content li,
.date {
  font-size: 18px;
  color: var(--dark);
  line-height: var(--lineHeight);
}

.date {
  margin-bottom: var(--marginSmall);
  display: block;
  color: var(--gray);
}

.title {
  margin: 0 auto;
  margin-bottom: var(--marginXLarge);
  text-align: center;
  font-size: 48px;
  max-width: 700px;
  font-weight: bold;
  color: var(--dark);
}

.fadein-animate {
  position: relative;
  animation-duration: 0.5s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
